<div class="navbar-default ">
  <div *ngIf="loading" class="loading-container flex-content-center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="row start-bar">
    <div class="ml-1 col-3 col-md-5 row">
      <a routerLink="/">
        <img class="img-fluid logo" src="assets/logo.png" alt="">
      </a>
    </div>
    <div class="mr-4 col-6 col-md-5 ">
      <mat-form-field appearance="outline">
        <mat-label>Pesquisar</mat-label>
        <a routerLink="/services/{{pesquisa}}" mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </a>
        <input matInput [(ngModel)]="pesquisa" type="search" placeholder="Pesquise um serviço" class="search-input">
      </mat-form-field>
    </div>
    <div class="col-1 user" *ngIf="(user$ | async) as user; else login">
      <a type="button" routerLink="/profile" mat-icon-button color="primary">
        <mat-icon matBadgeColor="warn" matBadgeSize="small" matBadge="{{badgeValue}}">account_circle</mat-icon>
      </a>
      <a type="button" mat-icon-button color="primary" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </div>
    <ng-template #login>
      <div class="col-3 col-md-1">
        <div class="justify-content-end">
          <a routerLink="/login" mat-raised-button color="primary" type="button" class="mr-1">
            Já possui conta?
          </a>
          <a routerLink="/register" mat-raised-button color="warn" type="button">
            Quero me cadastrar!
          </a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<p-toast></p-toast>
<hr style="margin: 0">
