<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
    <a mat-icon-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon>expand_more</mat-icon>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav container">
        <app-item-menu title="Domésticos" pathImg="https://www.grupoprever.com.br/images/icone-limpeza.png"
          pathSearch="domestica" observationImg="Domésticos">
        </app-item-menu>
        <app-item-menu title="Pedreiro" pathSearch="pedreiro"
          pathImg="https://uniquebox.vteximg.com.br/arquivos/ids/157673/pedreiro_left.png?v=636925076354300000"
          observationImg="Pedreiro">
        </app-item-menu>
        <app-item-menu title="Eletricista" pathImg="assets/eletrician.png"
          pathSearch="eletricista" observationImg="Eletricista">
        </app-item-menu>
        <app-item-menu title="Pintor" pathImg="assets/painter.png"
          pathSearch="pintor" observationImg="Pintor">
        </app-item-menu>
        <app-item-menu title="Garçom" pathSearch="garçom"
          pathImg="assets/waiter.png"
          observationImg="Garçom">
        </app-item-menu>
        <app-item-menu title="Motorista" pathSearch="motorista"
          pathImg="https://image.flaticon.com/icons/png/512/90/90471.png"
          observationImg="Motorista">
        </app-item-menu>
        <app-item-menu title="Babá" pathImg="https://static.thenounproject.com/png/973878-200.png" pathSearch="baba"
          observationImg="Babá">
        </app-item-menu>
        <app-item-menu title="Tecnologia" pathSearch="tecnologia"
          pathImg="assets/ti.png"
          observationImg="Tecnologia">
        </app-item-menu>
      </div>
    </div>
  </nav>
</div>
