<div>
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner main-carousel">
            <div class="carousel-item active">
                <img class="d-block w-100"
                    src="https://www.suaobra.com.br/public/uploads/dicas/dicas-para-economizar-na-hora-de-contratar-um-pedreiro-no-portal-da-construcao-sua-obra.jpg"
                    alt="First slide">
            </div>
            <div class="carousel-item main-carousel">
                <img class="d-block w-100"
                    src="https://i0.statig.com.br/bancodeimagens/3v/ho/hs/3vhohs3cj1bsi1uxjpxgkmnyi.jpg"
                    alt="Second slide">
            </div>
            <div class="carousel-item main-carousel">
                <img class="d-block w-100" src="https://i.ytimg.com/vi/8R84P3pMi5I/maxresdefault.jpg" alt="Third slide">
            </div>
        </div>
    </div>
</div>
