<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="UserJob selection">
      <mat-chip [disabled]="!user.isPrestador" [selectable]="true" *ngFor="let userJob of jobList" (removed)="removeJob(userJob)">
        {{userJob.jobName}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input [disabled]="!user.isPrestador" placeholder="Informe suas atribuições" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  